@mixin container()
    max-width: variables.$max-width
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px
    gap: 10px
    // background: green
