@use 'variables'
@import "container"
@import "btn"

header
    z-index: 99999
    width: 100%
    position: fixed
    top: 0
    left: 0    
    // border: 1px solid black

    .nav-bar
        // background: blue
        position: relative
        width: 100%
        backdrop-filter: blur(20px)

        .container
            @include container
            height: variables.$nav-container-height
            // border: 1px solid black

            .logo
                &__img
                    width: 50px

            .menu
                display: flex
                gap: 20px

                &__link
                    color: variables.$dark-one
                    padding: 10px
                    transition: .6s ease
                    font-weight: 500
                    font-size: variables.$normal-font-size  
                    &:hover
                        color: variables.$main-color
                .btn   
                    @include btn(10px, 30px)

                        




        