@use 'variables'
@import "container"

.portfolio
    position: relative
    width: 100%
    min-height: 1200px
    padding: 30px
    .container
        @include container
        border: 1px solid black
        .filter
            display: flex
            align-items: center
            justify-content: center
            background-color: red
